/* CSS Document */
body{font-family:"Microsoft Yahei","宋体",Arial Narrow; font-size:14px; color:#333; background:#fff; overflow-x:hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,form,input,textarea,button,code,em,cite{padding:0; margin:0;}
img{border:0; display:block;}
ol,ul,li,dl,dt,dd{list-style:none;}   
a:link,a:visited{color:#3e3e40;text-decoration:none;}
a:active,a:hover{color:#f03004;text-decoration: none;}
.lt{float:left;}
.rt{float:right;}
.cl{ clear:both;}
.mr0{margin-right: 0}
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;}3 /* Hides from IE-mac \*/
* html .cc {height: 1%;}
.cc{display: block;} /* End hide from IE-mac */
code{font-family:"Microsoft Yahei";}


/*顶部导航*/
.Topbar{height: 75px;font-size:14px;font-family:"宋体";}
.logo-ledou{ width:161px; height:57px; background:url(../images/logo-ledou.png) no-repeat; margin-top:12px; padding-right:32px; border-right:1px solid #959595;}
.logo-ledou a{ display:block; width:100%; height:100%;}
.play_stroy{color:#848484; margin-left:20px; line-height:46px;}
.play_rank{color:#696969; line-height:46px; height:75px; position:relative; padding-right:15px; cursor:pointer;}
.play_rank:after{ width:7px; height:4px; content:""; position:absolute;right:0;top:21px; background:url(../images/icon.jpg) no-repeat;}

.ost_rank{position: absolute;width: 469px;height: 311px;font-size: 12px;line-height: 1.5;font-family: "\5b8b\4f53",sans-serif;color: #999;border: 2px solid #000;background: #fff;right: 0;top: 73px; display:none; z-index:9999999;}
.ost_rank:before,.ost_rank .before,
.ost_rank:after,.ost_rank .after{ position:absolute; display:inline-block; width:0;height:0;overflow:hidden; line-height:0; font-size:0; vertical-align:middle;  content:"";  border-top:0 none;  _border-top-color: #dddddd; _border-bottom-color: #dddddd;  _filter: chroma( color = #dddddd); }
.ost_rank .before{ border-bottom:7px solid #CCC; border-left:7px dashed transparent;  border-right:7px dashed transparent; right:1px; top:-7px }
.ost_rank .after{  border-bottom:6px solid #ffffff;  border-left:6px dashed transparent; border-right:6px dashed transparent;  right:2px; top:-6px}
.ost_rank a{  color: #707e91; text-decoration: none; }
.ost_rank a:hover{ color: #ff4e00; text-decoration: underline; }
.ost_rank .icon-font{font-family: arial; font-style: normal; font-size: 16px;line-height: 18px;  }
/* ==== rank col ==== */
.ost_rank_col{float: left;width: 212px;height: 277px;padding: 0 10px;margin: 17px 0 8px;margin-left: -1px;}
#rank_control1{border-right: 1px solid #e2e2e2;}
.ost_rank_col .col-head,
.ost_rank_col .col-head2{ float: left; width: 207px;  padding-right: 5px;  padding-bottom: 2px;  height: 18px;}
.ost_rank_col .col-head{  border-bottom: 1px solid #e5e5e5; }
.ost_rank_col .col-body{   float: left;}
.ost_rank_col .rank-title{display: inline; float: left; margin: 0;padding: 0;font-size: 12px;color: #555; }
.ost_rank_col .rank-more{ float: right; }
/* rank list */
.ost_rank_col .rank-list{ float: left; list-style: none; padding: 9px 0 0; margin: 0; }
.ost_rank_col .rank-item,.ost_rank_col .rank-head{float: left; width: 212px; overflow: visible; padding: 0; }
.ost_rank_col .rank-head{  height: 27px; }
.ost_rank_col .current .rank-game-cover{ display: block; }
.ost_rank_col .current .ctip-text{ display: none; }
.ost_rank_col .current .rank-order-color,.ost_rank_col .current .rank-order-gray{ position: relative; z-index: 10; margin-bottom: -14px;}
.ost_rank_col .rank-order-hd{float: left; width: 33px;}
.ost_rank_col .rank-name-hd{ float: left;width: 170px;}
.ost_rank_col .rank-game-data{ height: 18px; overflow: hidden; }
.ost_rank_col .rank-order-color,
.ost_rank_col .rank-order-gray{ float: left;  width: 12px;  height: 12px;  margin: 2px 15px 0 4px; line-height: 12px;text-align: center;}
.ost_rank_col .rank-order-gray{ border:1px solid #999; background: #fff; }
.ost_rank_col .rank-order-color{color: #fff; border:1px solid #ff4e00; background: #ff4e00;}
.ost_rank_col .rank-name-game{ display: inline;float: left; padding-bottom: 9px;_padding-bottom: 7px;}
/* ==== rank tip ==== */
.icon-home,.icon-download,.icon-home2,.icon-ios,.icon-android{ display: inline-block; font-size: 0.1em; margin: 0 5px;vertical-align: top; background-image: url(../images/ost_rank_sp.png); background-repeat: no-repeat; }
.icon-home,
.icon-download{ width: 13px; height: 13px;}
.icon-home{ background-position: 0 0;}
.game-link:hover .icon-home{ background-position: 0 -17px; }
.icon-download{background-position: -14px 0;}
.game-link:hover .icon-download{
  background-position: -14px -17px;}
.icon-home2,.icon-ios,.icon-android{width: 15px;height: 16px; cursor: pointer; }
.icon-home2{  background-position: -28px 0; }
.game-link:hover .icon-home2{ background-position: -28px -17px;}
.icon-ios{ background-position: -44px 0;}
.game-link:hover .icon-ios{background-position: -44px -17px;}
.icon-android{background-position: -60px 0;}
.game-link:hover .icon-android{ background-position: -60px -17px;}
.rank-game-cover{display: none; position: relative; width: 194px;height: 82px;margin-left: 4px; overflow: hidden; padding: 1px; border: 1px solid #ccc;background: #fff;}
.rank-game-cover .game-meta, .rank-game-cover .game-meta2{ position: absolute;bottom: 1px;_bottom:0;left: 1px; margin: 0;padding: 0;width: 194px;overflow: hidden;background-color: rgba(0,0,0,0.75);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#AF000000,endcolorstr=#AF000000);}
.rank-game-cover .game-meta{height: 28px;}
.rank-game-cover .game-meta2{height: 28px;}
.rank-game-cover .game-meta .game-link{float: left;width: 97px;height: 13px;line-height: 13px;padding: 7px 0 8px;color: #aaa;text-align: center; cursor: pointer;}
.rank-game-cover .game-meta .game-link:hover{color: #ff4e00;}
.rank-game-cover .game-meta2 .game-link{float: left;width: 64px;border-left: 1px solid #707070; margin-left: -1px;height: 16px;line-height: 16px;padding: 6px 0 6px;text-align: center;}

/*下载*/
.download{ width:318px; position:absolute;left:50%;top:600px; margin-left:-400px; z-index:99999;}
.ewm{ width:123px; height:123px; position:relative; background:#05333e;}
.ewm i{ width:123px; height:123px; position:absolute; left:0;top:0; background:url(../images/ewm.png) no-repeat;}
.ewm img{ width:112px; height:112px; margin:5px auto 0;}
.store{ width:187px;}
.store a{ width:187px; height:56px; display:block; margin-bottom:12px;}
.store a.app_store{ background:url(../images/app-store.jpg) no-repeat;}
.store a.android{ background:url(../images/android.jpg) no-repeat;}

.main{ width: 1200px; margin:0 auto; position:relative;}
/*固定顶部*/
.fixedTop{ height:100px; background:rgba(220,220,220,0.5); width:100%; position:absolute;z-index:199998;}
.fixedTop.fixed{ position:fixed;left:0;top:0;_position:absolute; z-index:199998;}
.logo{ margin:8px 0 0 50px;}
.play_sm{ font-size:14px; line-height:26px; color:#000; width:220px; text-align:center; margin-top:26px;}
.nav li{ width:120px; float:left; height:100px; line-height:100px; text-align:center; font-size:24px;}
.nav li a:link,.nav  li a:visited{ color:#000;}
.nav li a:hover,.nav  li a:active{ color:#f03004;}

.wrap{ width:100%; background:url(../images/wrapbg.jpg) center top no-repeat; overflow:hidden;}

.flashbox{ width:577px; margin:746px 0 20px 0;}
.flash{ width:577px; height:321px; overflow:hidden; position:relative;}
.picbox{ width:800%; height:288px; position:absolute;}
.picbox li{ float:left; width:577px; height:288px;}
.btnbox{ width:577px; height:33px; position:absolute;left:0;bottom:0;}
.btnbox dd{ background:#6e7584; width:143px; height:33px; cursor:pointer; text-align:center; line-height:33px; border-right:1px solid #9096a2; float:left; font-size:12px; color:#fff;}
.btnbox dd.cur{ background:#ff4115;}

.rili{ background:#e1e1e2;}
.r_left{ width:105px; text-align:center; font-size:14px; color:#000; line-height:24px; margin-top:8px;}
.r_left strong{ color:#000; font-size:18px;}
.r_right{ width:472px;}
.r_right dl.hdbtn{ height:30px; text-align:right;}
.hdbtn dd{ font-size:16px; display:inline-block; cursor:pointer; font-weight:bold;}
.r_right .hdbox{ height:48px; position:relative; width:474px; overflow:hidden; margin-bottom:4px;}
.r_right .hdbox ul{ position:absolute; width:800%;}
.r_right .hdbox li{ width:237px; height:48px; float:left;}
.r_right .hdbox li img{ float:left; width:89px; height:48px; margin-right:15px;}
.r_right .hdbox li p{ padding-right:15px; text-align:center;}

.newbox{ width:582px; margin:746px 0 20px 0; padding:0 12px; background:rgba(255,255,255,0.7); padding-top:9px;}
.newbox strong{ font-size:18px; color:#3e3e40; line-height:34px; height:34px;}
.todayhot{ height:90px; overflow:hidden; margin:5px 0;}
.todayhot img{ width:144px; height:90px; float:left; margin-right:20px;}
.todayhot h1{ font-size:18px; line-height:32px; margin-top:13px;}
.textnav{ height:34px; line-height:34px; border-bottom:4px solid #757170;}
.textnav ul{ width:480px; float:right;}
.textnav li{ float:left; width:96px; text-align:center; position:relative; cursor:pointer;}
.textnav li i{ width:70px; height:0; background:#fd2313; position:absolute;left:50%; margin-left:-35px; top:34px; transition:all .3s linear;-webkit-transition:all .3s linear;}
.textnav li.cur{ color:#ff5a00;}
.textnav li.cur i{ height:4px;}

.textlink{ width:542px; margin:12px auto 0; display:none;}
.textlink li{ font-size:14px; line-height:30px; height:30px; overflow:hidden;}
.textlink li i{ float:right; font-style:normal;}

h2.zq_title{ font-size:24px; color:#074648; background:url(../images/tbg.png) center top no-repeat; height:48px; line-height:48px; overflow:hidden; text-align:center;}
h2.yxzl,h2.wjgl{ margin:30px 35px 25px;}
h2.yxsp,h2.xjtj{ margin:30px 0 25px;}

/*游戏特色*/
.play_ts{ margin:14px 0 40px 0;}
.play_ts li{ float:left; width:125px; height:360px; margin:0 6px; position:relative; overflow:hidden; cursor:pointer;}
.play_ts li p{ position:absolute;left:0;top:0; width:125px; height:360px; z-index:1;}
.play_ts li.cur{ width:640px;}
.play_ts li.cur p{ display:none;}

/*门派角色*/
.wrap2{ width:100%; background:url(../images/partbg.png) repeat-x; margin-top:24px;}
.qhbox{position:relative; }
.qh_btn{ position:absolute; right:15px; top:52px; z-index:999;}
.qh_btn dd{ width:90px; height:111px; background:url(../images/qhbtn.png) 12px 0 no-repeat; position:relative; margin-bottom:28px; cursor:pointer; padding:2px 2px 2px 12px;}
.qh_btn dd.b2{ background:url(../images/qhbtn.png) 12px -111px no-repeat;}
.qh_btn dd.b3{ background:url(../images/qhbtn.png) 12px -222px no-repeat;}
.qh_btn dd.b4{ background:url(../images/qhbtn.png) 12px -333px no-repeat;}
.qh_btn dd i{ background:url(../images/icon.png) no-repeat; position:absolute;left:0;top:0; width:104px; height:115px; display:none;}
.qh_btn dd.cur{ background-position:-90px 0;}
.qh_btn dd.cur.b2{ background-position:-90px -111px;}
.qh_btn dd.cur.b3{ background-position:-90px -222px;}
.qh_btn dd.cur.b4{ background-position:-90px -333px;}
.qh_btn dd.cur i{ display:block;}
.role_con{ padding-left:22px; position:relative; height:620px; overflow:hidden; display:none;}
.name{ width:174px; height:100px; background:url(../images/name.png) no-repeat; margin:65px 0 15px 0; animation:zoomIn linear 0.5s forwards;-webkit-animation:zoomIn linear 0.5s forwards;}
.role_con p{ width:440px; font-size:14px; line-height:24px; color:#666;}
.wuqi,.texing,.caozuo{ font-size:14px; color:#666; line-height:24px; margin-top:34px;}
.wuqi i,.texing i,.caozuo i{ display:block; width:75px; height:36px; background:url(../images/tbg.png) 0 -66px no-repeat;}
.texing i{ background-position:0 -153px;}
.caozuo i{ width:135px; background-position:0 -239px;}
.caozuo span{ display:block; width:144px; height:23px; margin-left:-7px;}
.caozuo em{ display:block; height:23px; background:url(../images/xx.jpg) repeat-x;}
.table{ position:absolute; left:236px;bottom:40px; text-align:center;}
.tablebtn{ margin-bottom:15px;}
.tablebtn div{ width:53px; height:27px; font-size:14px; font-family:"宋体"; color:#666; line-height:27px; display:inline-block; border:2px solid #12b5bb; text-align:center; margin:0 5px; cursor:pointer;}
.tablebtn div.cur{ height:35px; background:url(../images/tbg.png) 0 -360px no-repeat; border:none; width:57px; color:#fff; line-height:30px;}
.table_con,.table_con img{ width:225px; height:224px;}
.table_con img{ display:none;}
.humous{position:absolute;bottom:0;}
.yj .humous{ width:626px; height:592px; background:url(../images/p1.png) no-repeat;right:160px; }
.longying .humous{ width:501px; height:626px; background:url(../images/p2.png) no-repeat; right:160px;}
.longying .name{ background-position:0 -103px;}
.hualing .humous{ width:638px; height:620px; background:url(../images/p3.png) no-repeat; right:117px;}
.hualing .name{ background-position:0 -217px;}
.wukui .humous{ width:762px; height:623px; background:url(../images/p4.png) no-repeat; right:117px;}
.wukui .name{ background-position:0 -322px;}
.out .humous{ animation:fadeOutRight linear 0.5s forwards;-webkit-animation:fadeOutRight linear 0.5s forwards;}
.in .humous{ animation:fadeInRight linear 0.5s forwards;-webkit-animation:fadeInRight linear 0.5s forwards;}
@-webkit-keyframes fadeOutRight {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(50%, 0, 0);transform: translate3d(50%, 0, 0);}
}
@keyframes fadeOutRight {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(50%, 0, 0); transform: translate3d(50%, 0, 0);}
}
@-webkit-keyframes fadeInRight {
  0% {opacity: 0;-webkit-transform: translate3d(50%, 0, 0);transform: translate3d(50%, 0, 0);}
  100% {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeInRight {
  0% {opacity: 0;-webkit-transform: translate3d(50%, 0, 0); transform: translate3d(50%, 0, 0);}
  100% { opacity: 1;-webkit-transform: none;transform: none;}
}
@-webkit-keyframes zoomIn {
  0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  50% {opacity: 1;}
}
@keyframes zoomIn {
  0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  50% {opacity: 1;}
}
/*游戏资料和玩家攻略*/
.wrap3,.wrap4{ width:100%; background:url(../images/partbg2.png) repeat-x;}

.play_zl{ width:600px; position:relative; z-index:90;}
.play_zl img{ position:absolute;right:-82px;top:30px;}
.zlbox{ width:436px; border:1px solid #d2d1d1;}
.zlbox dl{ border-bottom:2px solid #d2d4d5; height:110px; overflow:hidden; background:rgba(255,255,255,0.43);}
.zlbox dt{ width:152px; float:left; font-size:24px; font-weight:bold; line-height:110px; text-align:center; position:relative;}
.zlbox dt i{ display:block; position:absolute; left:0;top:50%; margin-top:-15px;width:100%; height:0; overflow:hidden; -webkit-transition: ease-in .5s all;-moz-transition: ease-in .5s all;-ms-transition: ease-in .5s all;transition: ease-in .5s all;}
.zlbox dt em{height: 30px;left: 50%;top: 50%;line-height: 30px; font-style:normal; color:#ff6000;}
.zlbox dt a:hover{ color:#595959;}
.zlbox dt a:hover i{ height:30px;}
.zlbox dd{ width:280px; float:right;}
.zlbox dd a{ font-size:14px; line-height:24px; height:24px; position:relative; overflow:hidden; display:block; padding-left:16px;}
.zlbox dd a:link,.zlbox dd a:visited{ color:#000;}
.zlbox dd a:hover,.zlbox dd a:active{ color:#ff6000;}
.zlbox dd a:before{ width:8px; height:8px; background:#000; position:absolute;left:2px;top:8px; content:"";}
.growUp dd a{ display:inline-block; width:96px;}
.zlbox dl.more{ border-bottom:none; padding-top:12px;}
.more dd a{ display:inline-block; width:68px;}

.player_gl{ width:600px; position:relative; z-index:99;}
.player_gl img{ position:absolute;right:-200px;top:73px;}

/*游戏视频仙界图鉴*/
.yxsp,.xjtj{ width:580px; position:relative; margin-bottom:70px;}
.vlist{ height:30px; border-bottom:4px solid #757170; text-align:right; position:relative; z-index:9999;}
.vlist li{ display:inline-block; width:72px; height:30px; line-height:30px; text-align:center; font-size:14px; margin-left:15px; color:#000; cursor:pointer;}
.vlist li.cur{ border-bottom:4px solid #fd2313;}
.vlistcon{ text-align:right; position:relative; z-index:9999;}
.vlistcon li{ width:243px; height:148px; display:inline-block;margin:8px 0 0 8px; position:relative; overflow:hidden;}
.vlistcon li a{ display:block; width:100%; height:100%;}
.vlistcon li a p{ height:30px; line-height:30px; text-align:center; width:243px; position:absolute;left:0;bottom:-30px; color:#fff; transition:all 0.2s ease-in;z-index:999;}
.vlistcon li i{ width:243px; height:148px; background:rgba(0,0,0,0.5); position:absolute;left:0;top:-148px; transition:all 0.1s linear; -webkit-transition:all 0.1s linear;}
.vlistcon li code{ width:243px; height:148px; background:url(../images/video.png) center center no-repeat;position:absolute;left:0;bottom:-148px; transition:all 0.2s linear;-webkit-transition:all 0.2s linear;}
.vlistcon li:hover i{ top:0;}
.vlistcon li:hover code{ bottom:0;}
.vlistcon li:hover p{ bottom:0;}
.xjtj .vlist,.xjtj .vlistcon{ text-align:left;}
.xjtj .vlist li{ margin:0 15px 0 0;}
.xjtj .vlistcon li{margin:8px 8px 0 0;}
.yxsp .pic3{ position:absolute;left:-230px;top:21px;}
.xjtj .pic4{ position:absolute;right:-137px;top:-14px;}
.yxsp .vlistcon,.xjtj .vlistcon{ display:none;}
/*漂浮*/
.popRight {position:absolute;width: 168px;height: 553px; right: 80px; top: 200px;background: url(../images/rightPop.png?v=0) no-repeat;z-index: 999;}
.popRight img{ display: block;width: 120px;height: 120px; margin: 174px auto 38px;}
.popRight .downLink{ width: 147px; margin: 0 auto;height: 82px;}
.popRight .downLink a{display: block;width: 147px;height: 38px;margin-bottom: 6px;}
.popRight .popTel,.popRight .popQq{font-size: 12px;color: #000;padding: 32px 0 0 60px;height: 20px; line-height: 20px;}
#toTop{display: block;width: 39px;height: 29px;margin: 7px auto 0;}

/*底部*/
.footer{background: #25282f; font-size:12px;}
.footer .bar{height:8px;line-height: 0;overflow:hidden;font-size: 0;text-align:center;width:100%;*zoom:1;}
.footer .bar span{width:20%;display:inline-block;*display:inline;*zoom:1;height:8px;background:#fb3818;*width:19.9%;}
.footer .bar span.c1{background:#0054ff;}
.footer .bar span.c2{background:#9500ba;}
.footer .bar span.c3{background:#fb3818;}
.footer .bar span.c4{background:#fc7e03;}
.footer .bar span.c5{background:#fff701;}
.footer .copyright{padding:20px 0 12px 0;color:#6f6f6f;line-height: 24px;min-height: 66px!important;height:66px;}
.footer .copyright a{color:#6f6f6f;margin:0 10px;}
.footer .copyright a:hover{color:#e64100;}
.footer .copyright .logo{float: left; height:60px; margin:0 50px 0 24px;}
.footer .copyright .logo img{ margin-top:15px;}
.footer .copyright .cr{padding-left:10px;height:18px;line-height:18px;}
.footer .copyright .cr span{margin:0 10px;}
.footer .copyright .cr a{margin:0 2px;}
.footer .copyright .cr a img{vertical-align:middle; display:inline-block;}
.footer .copyright .cr span.wangjian{margin:0;}
.footer .copyright .cr span.wangjian img{width:18px;height:18px;}

/*文章内页*/
.article_con,.article_list,.pic_list,.pic_article,.video_list{ width:816px; background:#fff; margin-top:552px;}
.localhost{ height:52px; border-bottom:1px solid #91d0d2; line-height:55px; overflow:hidden;}
.localhost strong{ float:left; font-size:24px; color:#363636; padding:0 18px 0 20px;}
.localhost span{ float:right; font-size:12px; color:#5e5e5e; margin-top:12px; padding-right:10px;}
.localhost span a:link,.localhost span a:visited{ color:#5e5e5e;}
.localhost span a:hover,.localhost span a:active{ color:#5e5e5e;}
.article_con h1,.pic_article h1{ font-size:18px; color:#010101; text-align:center; height:24px; line-height:24px; padding-top:28px;}
.art_time{ text-align:center; font-size:12px; color:#8e8d8d; height:48px; line-height:48px; border-bottom:1px dashed #b6b6b6; margin:0 38px;}
.body{ padding:0 38px;min-height: 500px;}
.body p{ font-size:14px; line-height:24px; padding:10px 0; text-indent:2em;}
.body strong{padding-left:28px; display:block; font-size:16px; color:#172223; line-height:36px; background:url(../images/artbg.jpg) no-repeat;}
.body img{ margin:0 auto;}
.siderbar{ width:318px; padding:0 15px; margin-top:552px; background:#fff;}
.siderbar .download{ position:inherit; margin-left:0; margin-top:24px; margin-bottom:10px;}
.art_t{ font-size:18px; color:#404040; height:22px; line-height:22px;}
.art_t span{ float:right; width:22px; height:22px; background:url(../images/more.jpg) no-repeat;}
.art_t span a{ display:block; width:100%; height:100%;}
.art_news{ padding:10px 0;}
.art_news li{ font-size:14px; line-height:36px; height:36px; overflow:hidden;}
.art_pic{ margin-bottom:16px;}

/*文章列表页*/
.list_qh{ overflow:hidden;}
.list_qh li{ float:left; width:50px; height:40px; text-align:center; margin-right:30px; font-size:18px; color:#010101; cursor:pointer;}
.list_qh li.cur{border-bottom:4px solid #fd5839; color:#fd5839;}
.art_list_con li{ height:72px; background:#f2f2f2; padding:14px 38px; margin-bottom:10px;}
.art_list_con li h2{ font-size:16px; height:32px; line-height:32px; overflow:hidden;}
.art_list_con li p{ font-size:14px; line-height:24px; position:relative;}
.art_list_con li p i{ position:absolute;right:0;bottom:0; font-style:normal;}

/*页码*/
.pages{ text-align:center; margin:75px 0 100px 0;}
.pages a{ height:24px; line-height:24px; display:inline-block; font-size:14px; color:#000; margin:0 8px;}
.pages a.pages_gray{ padding:0 15px; background:#959595; border-radius:10px; color:#fff;}
.pages a.pages_gray.current{ background:#ff5454;}

/*图片列表页*/
.pic_list .localhost{ margin:0 20px; border-bottom:1px solid #000;}
.pic_list .localhost strong{ padding:0}
.pic_list_con{ padding-left:12px;}
.pic_list_con li{ width:242px; border:1px solid #000; margin:8px 10px 0; float:left;}
.pic_list_con li a.pica{ display:block; width:100%; height:100%; position:relative; overflow:hidden;}
.pic_list_con li p{ height:40px; line-height:40px; text-align:center; overflow:hidden;}
.pic_list_con li i{ width:60px; height:60px; position:absolute;left:95px;bottom:-60px; background:url(../images/pic.png) no-repeat; z-index:2; transition:all 0.2s linear;-webkit-transition:all 0.2s linear;}
.pic_list_con li code{ width:242px; height:148px; background:rgba(0,0,0,0.71); position:absolute;left:0;top:-148px; z-index:1; transition:all 0.1s linear;-webkit-transition:all 0.1s linear;}
.pic_list_con li:hover i{ bottom:44px;}
.pic_list_con li:hover code{ top:0;}
.morepic{ width:207px; height:46px; background:#ff5613; text-align:center; line-height:46px; font-size:18px; border-radius:8px; margin:45px auto 10px;}
.morepic a:link,.morepic a:visited{ color:#fff;}
.morepic a:hover,.morepic a:active{ color:#fff;}
/*图片内页*/
.pic_article .art_time{ color:#5e5e5e; border:none;}
.sharebox{ text-align:center; color:#5e5e5e; border-bottom:1px dashed #000; margin:0 35px; padding:6px 0 15px;}
.bdsharebuttonbox{ display:inline-block; vertical-align:-25px;}
.bdsharebuttonbox a{ width:20px !important; height:20px !important; float:left; display:inline-block; background:url(../images/share.jpg) -1px 0 no-repeat !important;}
.bdsharebuttonbox a.popup_tqq{ background:url(../images/share.jpg) -24px 0 no-repeat !important;}
.bdsharebuttonbox a.bds_tsina{ background:url(../images/share.jpg) -47px 0 no-repeat !important;}
.bdsharebuttonbox a.bds_qzone{ background:url(../images/share.jpg) -70px 0 no-repeat !important;}

.pic_con{ width:600px; /*height:496px;*/ margin:35px auto 0; position:relative;}
.pic_con a.arrow_left{ width:108px; height:77px; background:url(../images/arrow2.png) no-repeat; position:absolute;left:0;top:203px;}
.pic_con a.arrow_right{ width:108px; height:77px; background:url(../images/arrow2.png) 0 -77px no-repeat; position:absolute;right:0;top:203px;}
/*.art_pic_list{ width:600px; height:496px; }*/
.art_pic_list{ width:600px; }

/*视频内页*/
.video_con{ width:700px; height:400px; border:4px solid #cccccc; margin:35px auto;text-align: center;}

/*视频中心*/
.video_list .localhost{border-bottom:1px solid #000;}
.video_sx{ padding:15px 0; border-bottom:1px solid #000;}
.video_sx dl{ overflow:hidden; padding:0 23px; margin:5px 0;}
.video_sx dt{ width:70px; float:left; font-size:18px; font-weight:bold;}
.video_sx dd{ float:right; width:700px;}
.video_sx dd a{ font-size:16px; height:26px; line-height:26px; padding:0 8px; border:1px solid #000; margin:0 5px;}
.video_sx dd a:hover{ background:#ff5317; color:#fff; border-color:#ff5317;}

.video_list .pic_list_con li i{ background:url(../images/video.png) no-repeat;}

#preArrow{left:0px;}
#nextArrow{right:0px;}
.contextDiv{cursor:pointer;height:100%;width:50%;position:absolute;top:0px;z-index:5;background:url("blank") repeat;}
.contextDiv span{position:absolute;top:50%;margin-top:-10%;width:46px;height:80px;}
#preArrow_A{left:0px;background:url('../images/left.png') 0px 0px no-repeat;display:none;}
#nextArrow_A{right:35px;background:url('../images/right.png') 0px 0px no-repeat;display:none;}

.navcur{color:red !important;}




